// Put styles that are unique for this project here
$font-family : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$color-main : #00aadc;

@import "normalize";
@import "edje-v15";

//////

body {
  font-family: $font-family;
  margin: 0 auto;
  max-width: 760px;
}

#main-wrapper {
  padding: 2em 10px;
}

#main-wrapper.is-loading {
  &::before {
    content: "";
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(white, .7);
    background-image: image-url('loading.gif');
    background-repeat: no-repeat;
    background-position: center center;
  }
}
