/* --------------------
- EDJE Framework
- https://github.com/hrsetyono/edje
- v1.5.0 (Krobelus)
--------------------- */
/* ----------
  Normalize
---------- */
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html { font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

*, body { margin: 0; padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; }

audio:not([controls]) { display: none; height: 0; }

body { -webkit-animation: bugfix infinite 1s; }

@-webkit-keyframes bugfix { from { padding: 0; }
  to { padding: 0; } }

a { cursor: pointer; text-decoration: none; background-color: transparent; }

a:active, a:hover { outline: 0; }

b, strong { font-weight: bold; }

em { font-style: italic; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

img { border: 0; display: inline-block; vertical-align: middle; -ms-interpolation-mode: bicubic; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

hr { -moz-box-sizing: content-box; box-sizing: content-box; display: block; height: 1px; margin: 1em 0; padding: 0; border: 0; border-top: 1px solid #ccc; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

img, object, embed { max-width: 100%; height: auto; }

#map_canvas img, .map_canvas img, #map_canvas object, .map_canvas object, #map_canvas embed, .map_canvas embed { max-width: none !important; }

object, embed { height: 100%; }

[hidden], template { display: none; }

address, cite { font-style: normal; }

abbr[title] { border-bottom: 1px dotted; }

dfn { font-style: italic; }

mark { background: rgba(0, 170, 220, 0.3); padding: 0 0.25em; }

q { quotes: "\201C" "\201D" "\2018" "\2019"; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

button, input, optgroup, select, textarea { outline: none; margin: 0; color: inherit; font: inherit; }

button, input[type="submit"] { overflow: visible; cursor: pointer; outline: none; -webkit-backface-visibility: hidden; }

button:focus, input[type="submit"]:focus { outline: none; }

button, select { text-transform: none; }

optgroup { font-weight: bold; }

button, input, label { line-height: normal; }

label { display: block; }

button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] { -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

input::-webkit-calendar-picker-indicator { display: none; }

input[type="date"]::-webkit-input-placeholder { visibility: hidden !important; }

textarea { overflow: auto; vertical-align: top; resize: vertical; height: auto; min-height: 50px; }

legend { border: 0; padding: 0; }

fieldset { border: 0; margin: 0; padding: 0; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

.hide { display: none !important; visibility: hidden !important; }

.flex-iframe { overflow: hidden; position: relative; height: 0; padding-bottom: 67.5%; padding-top: 1.38889rem; }

.flex-iframe iframe, .flex-iframe object, .flex-iframe embed, .flex-iframe video { position: absolute; top: 0; left: 0; height: 100%; width: 100%; }

/* ----------
  Typography
----------- */
body { position: relative; background: #fff; font-size: 16px; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; font-weight: 400; line-height: 1.65; color: #2e4453; }

p { margin-top: 0; margin-bottom: 0; }

a { color: #00aadc; }

a:hover { color: #10c9ff; }

h1, h2, h3, h4, h5, h6 { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; font-weight: 700; line-height: 1.25; color: #2e4453; letter-spacing: 0; text-transform: none; }

h1 { font-size: 2.625em; }

@media only screen and (max-width: 767px) { h1 { font-size: 1.875em; } }

h2 { font-size: 2.25em; }

@media only screen and (max-width: 767px) { h2 { font-size: 1.625em; } }

h3 { font-size: 1.875em; }

@media only screen and (max-width: 767px) { h3 { font-size: 1.375em; } }

h4 { font-size: 1.5em; }

@media only screen and (max-width: 767px) { h4 { font-size: 1.25em; } }

h5 { font-size: 1.25em; }

@media only screen and (max-width: 767px) { h5 { font-size: 1.125em; } }

h6 { font-size: 1em; }

@media only screen and (max-width: 767px) { h6 { font-size: 1em; } }

ul { list-style-type: disc; }

ul ul { list-style-type: circle; }

ol { list-style-type: decimal; }

ol ol { list-style-type: lower-alpha; }

blockquote cite { display: block; font-style: italic; }

/* --------
  Grid
-------- */
h-row { display: block; margin: 0 auto; max-width: 1140px; width: 100%; }

h-row::before, h-row::after { content: " "; display: table; }

h-row::after { clear: both; }

h-row h-row { margin-right: -10px; margin-left: -10px; width: auto; max-width: none; }

h-row h-row.collapse { margin: 0; padding-right: 0; padding-left: 0; width: auto; max-width: none; }

h-column { display: block; float: left; padding-right: 10px; padding-left: 10px; width: 100%; }

.collapse { padding-right: 10px; padding-left: 10px; }

.collapse h-row { margin-right: -10px; margin-left: -10px; width: auto; max-width: none; }

.collapse > h-column, .collapse > * > h-column { padding-right: 0; padding-left: 0; }

.large-1 { width: 8.33333%; }

.large-2 { width: 16.66667%; }

.large-3 { width: 25%; }

.large-4 { width: 33.33333%; }

.large-5 { width: 41.66667%; }

.large-6 { width: 50%; }

.large-7 { width: 58.33333%; }

.large-8 { width: 66.66667%; }

.large-9 { width: 75%; }

.large-10 { width: 83.33333%; }

.large-11 { width: 91.66667%; }

.large-12 { width: 100%; }

.offset-1 { margin-left: 8.33333%; }

.offset-2 { margin-left: 16.66667%; }

.offset-3 { margin-left: 25%; }

.offset-4 { margin-left: 33.33333%; }

.offset-5 { margin-left: 41.66667%; }

.offset-6 { margin-left: 50%; }

.offset-7 { margin-left: 58.33333%; }

.offset-8 { margin-left: 66.66667%; }

.offset-9 { margin-left: 75%; }

.offset-10 { margin-left: 83.33333%; }

.offset-11 { margin-left: 91.66667%; }

.centered { display: block; float: none; margin-right: auto; margin-left: auto; }

@media only screen and (max-width: 767px) { .large-1, .large-2, .large-3, .large-4, .large-5, .large-6, .large-7, .large-8, .large-9, .large-10, .large-11, .large-12 { width: 100%; }
  .offset-1, .offset-2, .offset-3, .offset-4, .offset-5, .offset-6, .offset-7, .offset-8, .offset-9, .offset-10, .offset-11 { margin-left: 0%; }
  .small-1 { width: 8.33333%; }
  .small-2 { width: 16.66667%; }
  .small-3 { width: 25%; }
  .small-4 { width: 33.33333%; }
  .small-5 { width: 41.66667%; }
  .small-6 { width: 50%; }
  .small-7 { width: 58.33333%; }
  .small-8 { width: 66.66667%; }
  .small-9 { width: 75%; }
  .small-10 { width: 83.33333%; }
  .small-11 { width: 91.66667%; }
  .small-12 { width: 100%; }
  .small-offset-1 { margin-left: 8.33333%; }
  .small-offset-2 { margin-left: 16.66667%; }
  .small-offset-3 { margin-left: 25%; }
  .small-offset-4 { margin-left: 33.33333%; }
  .small-offset-5 { margin-left: 41.66667%; }
  .small-offset-6 { margin-left: 50%; }
  .small-offset-7 { margin-left: 58.33333%; }
  .small-offset-8 { margin-left: 66.66667%; }
  .small-offset-9 { margin-left: 75%; }
  .small-offset-10 { margin-left: 83.33333%; }
  .small-offset-11 { margin-left: 91.66667%; }
  .small-centered { display: block; float: none; margin-right: auto; margin-left: auto; } }

/* ------
  Tile
------ */
[class*="tile-"] { display: -ms-flexbox; display: -webkit-flex; display: flex; flex-wrap: wrap; padding-left: 0; width: calc(100% + $gutter); list-style-type: none; margin-right: -10px; margin-left: -10px; }

[class*="tile-"] > li { padding-right: 10px; padding-left: 10px; }

[class*="tile-"].collapse { margin-right: 0; margin-left: 0; padding-right: 0; padding-left: 0; }

[class*="tile-"].collapse > li { padding-right: 0; padding-left: 0; }

.tile-1 > li { width: 100%; }

.tile-2 > li { width: 50%; }

.tile-3 > li { width: 33.33333%; }

.tile-4 > li { width: 25%; }

.tile-5 > li { width: 20%; }

.tile-6 > li { width: 16.66667%; }

.tile-7 > li { width: 14.28571%; }

.tile-8 > li { width: 12.5%; }

@media only screen and (max-width: 767px) { [class*="tile-"] > li { width: 100%; }
  .small-tile-1 > li { width: 100%; }
  .small-tile-2 > li { width: 50%; }
  .small-tile-3 > li { width: 33.33333%; }
  .small-tile-4 > li { width: 25%; }
  .small-tile-5 > li { width: 20%; }
  .small-tile-6 > li { width: 16.66667%; }
  .small-tile-7 > li { width: 14.28571%; }
  .small-tile-8 > li { width: 12.5%; } }

/* -----------------
  EDGE Visibility
----------------- */
.hide-for-large, .show-for-small, .show-for-mini { display: none !important; }

.hide-for-small, .hide-for-mini, .show-for-large { display: inherit !important; }

table.hide-for-large, table.show-for-small, table.show-for-mini { display: none !important; }

table.hide-for-small, table.hide-for-mini, table.show-for-large { display: table !important; }

thead.hide-for-large, thead.show-for-small, thead.show-for-mini { display: none !important; }

thead.hide-for-small, thead.hide-for-mini, thead.show-for-large { display: table-header-group !important; }

tbody.hide-for-large, tbody.show-for-small, tbody.show-for-mini { display: none !important; }

tbody.hide-for-small, tbody.hide-for-mini, tbody.show-for-large { display: table-row-group !important; }

tr.hide-for-large, tr.show-for-small, tr.show-for-mini { display: none !important; }

tr.hide-for-small, tr.hide-for-mini, tr.show-for-large { display: table-row !important; }

td.hide-for-large, td.show-for-small, td.show-for-mini, th.hide-for-large, th.show-for-small, th.show-for-mini { display: none !important; }

td.hide-for-small, td.hide-for-mini, td.show-for-large, th.hide-for-small, th.hide-for-mini, th.show-for-large { display: table-cell !important; }

img.hide-for-large, img.show-for-small, img.show-for-mini, span.hide-for-large, span.show-for-small, span.show-for-mini, em.hide-for-large, em.show-for-small, em.show-for-mini, strong.hide-for-large, strong.show-for-small, strong.show-for-mini, sub.hide-for-large, sub.show-for-small, sub.show-for-mini, sup.hide-for-large, sup.show-for-small, sup.show-for-mini, big.hide-for-large, big.show-for-small, big.show-for-mini, small.hide-for-large, small.show-for-small, small.show-for-mini { display: none !important; }

img.hide-for-small, img.hide-for-mini, img.show-for-large, span.hide-for-small, span.hide-for-mini, span.show-for-large, em.hide-for-small, em.hide-for-mini, em.show-for-large, strong.hide-for-small, strong.hide-for-mini, strong.show-for-large, sub.hide-for-small, sub.hide-for-mini, sub.show-for-large, sup.hide-for-small, sup.hide-for-mini, sup.show-for-large, big.hide-for-small, big.hide-for-mini, big.show-for-large, small.hide-for-small, small.hide-for-mini, small.show-for-large { display: inline-block !important; }

@media only screen and (max-width: 767px) { .hide-for-small, .show-for-large { display: none !important; }
  .show-for-small, .hide-for-large { display: inherit !important; }
  table.hide-for-small, table.show-for-large { display: none !important; }
  table.show-for-small, table.hide-for-large { display: table !important; }
  thead.hide-for-small, thead.show-for-large { display: none !important; }
  thead.show-for-small, thead.hide-for-large { display: table-header-group !important; }
  tbody.hide-for-small, tbody.show-for-large { display: none !important; }
  tbody.show-for-small, tbody.hide-for-large { display: table-row-group !important; }
  tr.hide-for-small, tr.show-for-large { display: none !important; }
  tr.show-for-small, tr.hide-for-large { display: table-row !important; }
  td.hide-for-small, td.show-for-large, th.hide-for-small, th.show-for-large { display: none !important; }
  td.show-for-small, td.hide-for-large, th.show-for-small, th.hide-for-large { display: table-cell !important; }
  img.hide-for-small, img.show-for-large, span.hide-for-small, span.show-for-large, em.hide-for-small, em.show-for-large, strong.hide-for-small, strong.show-for-large, sub.hide-for-small, sub.show-for-large, sup.hide-for-small, sup.show-for-large, big.hide-for-small, big.show-for-large, small.hide-for-small, small.show-for-large { display: none !important; }
  img.show-for-small, img.hide-for-large, span.show-for-small, span.hide-for-large, em.show-for-small, em.hide-for-large, strong.show-for-small, strong.hide-for-large, sub.show-for-small, sub.hide-for-large, sup.show-for-small, sup.hide-for-large, big.show-for-small, big.hide-for-large, small.show-for-small, small.hide-for-large { display: inline-block !important; } }

@media only screen and (max-width: 480px) { .hide-for-mini { display: none !important; }
  .show-for-mini { display: inherit !important; }
  table.hide-for-mini { display: none !important; }
  table.show-for-mini { display: table !important; }
  thead.hide-for-mini { display: none !important; }
  thead.show-for-mini { display: table-header-group !important; }
  tbody.hide-for-mini { display: none !important; }
  tbody.show-for-mini { display: table-row-group !important; }
  tr.hide-for-mini { display: none !important; }
  tr.show-for-mini { display: table-row !important; }
  td.hide-for-mini, th.hide-for-mini { display: none !important; }
  td.show-for-mini, th.show-for-mini { display: table-cell !important; }
  img.hide-for-mini, span.hide-for-mini, em.hide-for-mini, strong.hide-for-mini, sub.hide-for-mini, sup.hide-for-mini, big.hide-for-mini, small.hide-for-mini { display: none !important; }
  img.show-for-mini, span.show-for-mini, em.show-for-mini, strong.show-for-mini, sub.show-for-mini, sup.show-for-mini, big.show-for-mini, small.show-for-mini { display: inline-block !important; } }

/* ---------------
  EDGE Animate
--------------- */
[data-animate] { visibility: hidden !important; }

.animated { visibility: visible !important; -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }

.animated.fadein { -webkit-animation-name: fadein; animation-name: fadein; }

@-webkit-keyframes fadein { 0% { opacity: 0; }
  100% { opacity: 1; } }

@keyframes fadein { 0% { opacity: 0; }
  100% { opacity: 1; } }

.animated.fadein-down { -webkit-animation-name: fadein-down; animation-name: fadein-down; }

@-webkit-keyframes fadein-down { 0% { opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px); }
  100% { opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

@keyframes fadein-down { 0% { opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px); }
  100% { opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

.animated.fadein-up { -webkit-animation-name: fadein-up; animation-name: fadein-up; }

@-webkit-keyframes fadein-up { 0% { opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px); }
  100% { opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

@keyframes fadein-up { 0% { opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px); }
  100% { opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

.animated.fadein-left { -webkit-animation-name: fadein-left; animation-name: fadein-left; }

@-webkit-keyframes fadein-left { 0% { opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px); }
  100% { opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

@keyframes fadein-left { 0% { opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px); }
  100% { opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

.animated.fadein-right { -webkit-animation-name: fadein-right; animation-name: fadein-right; }

@-webkit-keyframes fadein-right { 0% { opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px); }
  100% { opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

@keyframes fadein-right { 0% { opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px); }
  100% { opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

.animated.bounce { -webkit-animation-name: bounce; animation-name: bounce; }

@-webkit-keyframes bounce { 0%, 20%, 50%, 80%, 100% { -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  40% { -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px); }
  60% { -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px); } }

@keyframes bounce { 0%, 20%, 50%, 80%, 100% { -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  40% { -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px); }
  60% { -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px); } }

/* ---------------------
  EDGE Print
  - HTML5 Boilerplate
--------------------- */
@media only print { * { color: #000 !important; box-shadow: none !important; text-shadow: none !important; }
  a, a:visited { color: #000 !important; text-decoration: underline; }
  a[href]::after { content: " (" attr(href) ")"; }
  abbr[title]::after { content: " (" attr(title) ")"; }
  .ir a::after, a[href^="javascript:"]::after, a[href^="#"]::after, .button::after { content: ""; }
  pre, blockquote { page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
  h-row { min-width: 1140px; }
  h-row h-row { min-width: 0; } }

/* ---------
  BLOG
---------- */
.post-row { max-width: 620px; margin: 0 auto; }

.post-col { width: 100%; }

.post-content { letter-spacing: 0.16px; font-size: 1.125em; }

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 { margin-top: 2rem; margin-bottom: 1.25rem; }

.post-content a { text-decoration: underline; }

.post-content p, .post-content ul, .post-content ol, .post-content blockquote, .post-content pre, .post-content table, .post-content figure { margin-bottom: 1.5em; }

.post-content hr { display: block; height: 1px; border: 0; border-top: 1px solid #c8d7e1; margin: 2.5em 0; padding: 0; }

.post-content ul, .post-content ol { padding-left: 1.5em; }

.post-content ul ul, .post-content ol ol { margin-bottom: 0; }

.post-content img { border-radius: 4px; }

.post-content blockquote { padding: 0.25em 1em; margin-left: 1em; border-left: 3px solid #c8d7e1; font-style: italic; }

.post-content blockquote p { margin-bottom: 0; }

.post-content blockquote cite { display: block; text-align: right; }

.post-content blockquote.alignleft, .post-content blockquote.align-right { margin-left: 0; }

.post-content table { width: 100%; }

.post-content table tr { background-color: #fff; }

.post-content table tr:nth-child(odd) { background-color: #f6f6f6; }

.post-content table th, .post-content table td { padding: 0.375em 0.5em; border: 1px solid #efefef; text-align: left; }

.post-content table p { margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 { clear: both; }

.alignleft { float: left; margin-right: 1em; }

.alignright { float: right; margin-left: 1em; }

.alignleft, .alignright { max-width: 50%; margin-bottom: 1em; }

@media only screen and (max-width: 767px) { .alignleft, .alignright { float: none; max-width: none; } }

.aligncenter { display: block; margin: 0 auto; clear: both; }

.wp-caption { position: relative; margin-bottom: 1.5em; width: auto !important; text-align: center; }

.wp-caption .wp-caption-text { display: inline-block; margin: 0.5em 0 0; padding: 0 2em 0.5em; border-bottom: 1px solid #c8d7e1; font-size: 0.875em; }

@media (min-width: 961px) { .refleft .wp-caption-text { left: -20px; text-align: right; -webkit-transform: translateX(-100%); -ms-transform: translateX(-100%); transform: translateX(-100%); }
  .refright .wp-caption-text { right: -20px; text-align: left; -webkit-transform: translateX(100%); -ms-transform: translateX(100%); transform: translateX(100%); }
  .refleft .wp-caption-text, .refright .wp-caption-text { position: absolute; top: 0; border-top: 1px solid #c8d7e1; margin-top: 0; padding: 0.5em 0; width: 150px; } }

.gallery, .tiled-gallery { margin-bottom: 1.5em; }

.gallery a img, .tiled-gallery a img { cursor: pointer; transition: all 0.25s ease-out; }

.gallery a img:hover, .tiled-gallery a img:hover { opacity: 0.7; }

.gallery[class*="gallery-columns-"] { display: -ms-flexbox; display: -webkit-flex; display: flex; flex-wrap: wrap; }

.gallery-item { padding: 0 1px; margin-top: 0 !important; margin-bottom: 2px; }

.gallery-item img { border: none !important; border-radius: 4px; }

.gallery-columns-2 .gallery-item { width: 50%; }

.gallery-columns-3 .gallery-item { width: 33.33333%; }

.gallery-columns-4 .gallery-item { width: 25%; }

.gallery-columns-5 .gallery-item { width: 20%; }

.gallery-columns-6 .gallery-item { width: 16.66667%; }

.gallery-columns-7 .gallery-item { width: 14.28571%; }

.gallery-columns-8 .gallery-item { width: 12.5%; }

.post-header { margin: 2em 0; }

.post-header h1 { margin-bottom: 0; }

.post-meta { font-size: 0.875em; }

.post-meta .meta-author { padding-right: 1em; }

@media only screen and (max-width: 767px) { .post-meta .meta-author { padding-right: 0.5em; } }

.post-meta .meta-category { text-transform: uppercase; }

.post-meta time, .post-meta .meta-comments { display: inline-block; padding: 0 1em; border-left: 1px solid #c8d7e1; }

@media only screen and (max-width: 767px) { .post-meta time, .post-meta .meta-comments { padding: 0 0.5em; } }

.post-meta a { color: inherit; text-decoration: none; }

.post-meta a:hover { text-decoration: underline; }

.post-meta .dashicons-before::before { width: 1em; height: 1em; font-size: 1.14286em; vertical-align: middle; }

.post-banner .post-meta { margin-bottom: 1em; color: white; }

.post-tease .post-meta { color: #b5c0c5; }

.post-header .post-meta { border-top: 1px solid #c8d7e1; border-bottom: 2px solid #2e4453; margin: 0.5em 0 2em; padding: 0.5em 0; }

.post-tease { display: -webkit-flex; display: flex; flex-direction: row-reverse; position: relative; padding-bottom: 2em; margin: 2em 0; border-bottom: 1px solid #c8d7e1; }

.post-tease a { text-decoration: none; color: inherit; }

.post-tease figure { margin-left: 10px; }

@media only screen and (max-width: 767px) { .post-tease { display: block; }
  .post-tease figure { float: right; }
  .post-tease img { width: 150px; } }

@media only screen and (max-width: 480px) { .post-tease img { width: 100px; } }

.tease-body { flex: 1; }

.tease-body > a:hover h3 { text-decoration: underline; }

.tease-body h3 { margin: 0 0 0.5rem; }

.tease-body p { margin-bottom: 1em; }

@media only screen and (max-width: 767px) { .tease-body h3 { clear: none; } }

a.post-button, span.post-button, .post-password-form input[type="submit"] { display: inline-block; border: 1px solid #00aadc; border-radius: 20px; background-color: transparent; padding: 0 14px; text-decoration: none; font-size: 14px; line-height: 30px; color: #00aadc; transition: all 0.25s ease-out; }

a.post-button:hover, span.post-button:hover, .post-password-form input:hover[type="submit"] { background-color: #00aadc; color: white; box-shadow: none; }

.post-banner { position: relative; height: 400px; margin: 0 auto; background-size: cover; background-position: center center; }

@media only screen and (max-width: 767px) { .post-banner { height: 300px; } }

.post-banner::before { content: ""; position: absolute; z-index: 2; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4); }

.single .post-banner::before { display: none; }

.post-banner .post-row { position: absolute; z-index: 5; right: 0; bottom: 0; left: 0; width: 100%; margin: 0 auto; }

.post-banner .post-col { padding-bottom: 2em; }

.post-banner h1, .post-banner h2 { font-size: 2.625em; color: white; line-height: 1; }

@media only screen and (max-width: 767px) { .post-banner h1, .post-banner h2 { font-size: 1.5em; } }

.post-banner p { margin: 1rem 0; font-size: 0.875em; color: white; }

.post-banner .post-button { border-color: white; color: white; }

.post-banner .banner-body { display: block; }

.post-banner .banner-body:hover .post-button { background-color: #00aadc; border-color: #00aadc; }

.post-banner-mini { width: 700px; margin: 0 -50px 2em; }

.single .post-banner-mini { margin: 0 auto; }

@media only screen and (max-width: 720px) { .post-banner-mini { width: auto; margin: 0 -10px; } }

.post-banner.banner-no-image::before { display: none; }

.post-banner.banner-no-image h1, .post-banner.banner-no-image h2, .post-banner.banner-no-image p { color: #2e4453; }

.post-banner.banner-no-image .post-button { border-color: #00aadc; color: #00aadc; }

.post-banner.banner-no-image .post-button:hover { color: white; }

.blog-nav { display: -webkit-flex; display: flex; flex-wrap: wrap; margin: 2em 0 2em; padding: 0.5em 0; border-bottom: 2px solid #2e4453; border-top: 1px solid #c8d7e1; }

.blog-nav a { display: inline-block; padding: 5px 7px; color: #2e4453; text-transform: uppercase; font-size: 0.875em; letter-spacing: 0.5px; border-radius: 4px; transition: all 0.25s ease-out; }

.blog-nav a:hover { color: #00aadc; }

.blog-nav a.active { background-color: #00aadc; color: white; }

.blog-nav-tip { display: none; position: absolute; top: 32px; right: 0; border: 1px solid #c8d7e1; max-width: 260px; width: 220px; padding: 10px 0; background-color: #fff; border-radius: 4px; box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.18), 0 1.5px 6px rgba(0, 0, 0, 0.08); }

.category-menu:hover .blog-nav-tip { display: block; }

.blog-nav-tip::before, .blog-nav-tip::after { content: ""; position: absolute; top: 0; right: 10px; -webkit-transform: translateY(-10px); -ms-transform: translateY(-10px); transform: translateY(-10px); }

.blog-nav-tip::before { top: -1px; width: 0; height: 0; font-size: 0; line-height: 0%; border-style: solid; border-color: transparent; border-width: 0 10px 10px 10px; border-bottom-color: #c8d7e1; }

.blog-nav-tip::after { width: 0; height: 0; font-size: 0; line-height: 0%; border-style: solid; border-color: transparent; border-width: 0 10px 10px 10px; border-bottom-color: #fff; }

.blog-nav-tip a { display: block; padding: 0.5em 1em; text-transform: initial; transition: none; }

.blog-nav-tip a:hover { background-color: #00aadc; color: white; }

.post-author { display: -webkit-flex; display: flex; position: relative; padding: 2em 0; margin-top: 1em; border-top: 1px solid #c8d7e1; }

.post-author h4, .post-author h6 { margin: 0 0 0.5em; letter-spacing: 0.5px; font-size: 1em; }

@media only screen and (max-width: 767px) { .post-author h4, .post-author h6 { font-size: 1em; } }

@media only screen and (max-width: 480px) { .post-author { flex-direction: column; text-align: center; } }

.banner-author { padding: 2em 0; text-align: center; }

.author-image img { border: 1px solid #c8d7e1; padding: 0.25em; height: 4em; width: 4em; border-radius: 50%; }

.banner-author .author-image { margin-bottom: 1em; }

@media only screen and (max-width: 480px) { .author-image { margin-bottom: 1em; } }

.post-author .author-text { flex: 1; padding: 0 10px; }

.post-author .author-text p { margin-bottom: 0; font-size: 0.875em; }

.banner-author .author-text { margin-bottom: 1.5em; }

.author-text * + p { margin-top: 0.5em; }

.author-text a { color: inherit; text-decoration: none; }

.author-text a:hover { color: inherit; text-decoration: underline; }

.author-text b { text-transform: uppercase; font-weight: 400; font-size: 0.875em; letter-spacing: 0.5px; }

.post-author .author-text b { display: none; }

.author-text .author-url { color: #b5c0c5; }

.banner-author .author-text .author-url { color: #00aadc; }

@media only screen and (max-width: 480px) { .author-text { margin-bottom: 1em; } }

.author-links { text-align: center; }

.author-links .social-logo { margin: 0; text-decoration: none; color: #b5c0c5; }

.post-footer { padding-top: 2em; position: relative; background-color: rgba(0, 0, 0, 0.03); }

div#jp-relatedposts h3.jp-relatedposts-headline, .post-comments h4 { display: block; float: none; margin: 2rem 0; font-size: 1.25em; font-weight: 400; text-transform: uppercase; letter-spacing: 0.5px; }

@media only screen and (max-width: 767px) { div#jp-relatedposts h3.jp-relatedposts-headline, .post-comments h4 { font-size: 1.125em; } }

div#jp-relatedposts { display: block; padding-top: 0; margin: 0 0 3em; }

div#jp-relatedposts div.jp-relatedposts-items { display: -webkit-flex; display: flex; margin: 0 -125px; }

div#jp-relatedposts div.jp-relatedposts-items::before, div#jp-relatedposts div.jp-relatedposts-items::after { content: " "; display: table; }

div#jp-relatedposts div.jp-relatedposts-items::after { clear: both; }

@media only screen and (max-width: 870px) { div#jp-relatedposts div.jp-relatedposts-items { margin: 0 -5px; } }

@media only screen and (max-width: 767px) { div#jp-relatedposts div.jp-relatedposts-items { flex-direction: column; margin: 0; } }

div#jp-relatedposts h3.jp-relatedposts-headline em { font-style: normal; font-weight: 400; }

div#jp-relatedposts h3.jp-relatedposts-headline em::before { display: none; }

div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post { overflow: hidden; padding: 1em; margin: 0 10px; width: 33%; opacity: 1; background-color: white; box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.18), 0 1.5px 6px rgba(0, 0, 0, 0.08); border-radius: 4px; }

div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post:hover .jp-relatedposts-post-title .jp-relatedposts-post-a { text-decoration: none; }

@media only screen and (max-width: 870px) { div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post { margin: 0 5px; } }

@media only screen and (max-width: 767px) { div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post { width: 100%; margin: 0; margin-bottom: 1em; } }

div#jp-relatedposts .jp-relatedposts-post > .jp-relatedposts-post-a { overflow: hidden; display: block; max-height: 160px; margin: -1em; margin-bottom: 1em; }

div#jp-relatedposts .jp-relatedposts-post > .jp-relatedposts-post-a:hover + .jp-relatedposts-post-title { text-decoration: underline; }

div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-title { clear: none; font-size: 1.25em; letter-spacing: normal; line-height: 1.25; }

div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-title:hover { text-decoration: underline; }

div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-title a { display: block; font-weight: 700; color: inherit; }

@media only screen and (max-width: 480px) { div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-title { font-size: 1em; } }

div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post p, div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post span { overflow: initial; max-width: 100%; font-size: 0.875em; }

div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-excerpt, div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-context { display: none; }

div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-date { display: inline-block; opacity: 0.6; }

@media only screen and (max-width: 480px) { div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-date { font-size: 0.75em; } }

@media only screen and (max-width: 870px) { div#jp-relatedposts div.jp-relatedposts-items div.jp-relatedposts-post-thumbs { font-size: 0.875em; } }

@media only screen and (max-width: 767px) { div#jp-relatedposts div.jp-relatedposts-items div.jp-relatedposts-post-thumbs { padding-bottom: 0; }
  div#jp-relatedposts div.jp-relatedposts-items div.jp-relatedposts-post-thumbs > .jp-relatedposts-post-a { float: left; max-width: 150px; margin-right: 10px; margin-bottom: 0; } }

div#jp-relatedposts.jp-next-prev div.jp-relatedposts-items { flex-direction: row; margin: 0 -10px; }

div#jp-relatedposts.jp-next-prev div.jp-relatedposts-items .jp-relatedposts-post { margin: 0 10px; width: 50%; }

@media only screen and (max-width: 767px) { div#jp-relatedposts.jp-next-prev div.jp-relatedposts-items .jp-relatedposts-post { padding: 0.5em; } }

@media only screen and (max-width: 767px) { div#jp-relatedposts.jp-next-prev .jp-relatedposts-post > .jp-relatedposts-post-a { margin: -0.5em; margin-bottom: 0.5em; } }

div#jp-relatedposts.jp-next-prev div.jp-relatedposts-items .jp-relatedposts-nothumb { display: -webkit-flex; display: flex; flex-direction: column; justify-content: center; text-align: center; }

div#jp-relatedposts.jp-next-prev div.jp-relatedposts-items .jp-relatedposts-nothumb .jp-relatedposts-post-title { font-size: 1.5em; }

@media only screen and (max-width: 767px) { div#jp-relatedposts.jp-next-prev div.jp-relatedposts-items .jp-relatedposts-nothumb .jp-relatedposts-post-title { font-size: 1.25em; } }

div#jp-relatedposts.jp-next-prev div.jp-relatedposts-items .jp-relatedposts-nothumb .jp-relatedposts-nothumb-excerpt { margin-top: 1em; }

@media only screen and (max-width: 767px) { div#jp-relatedposts.jp-next-prev div.jp-relatedposts-items .jp-relatedposts-nothumb .jp-relatedposts-nothumb-excerpt { display: none; } }

.post-comments ul { list-style-type: none; }

.comments-list { margin-top: 2em; }

.comments-list > li { padding: 1.25em; margin-bottom: 1.5em; background-color: #fff; border-radius: 4px; box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.18), 0 1.5px 6px rgba(0, 0, 0, 0.08); }

.comment { position: relative; color: #2e4453; }

.comment.bypostauthor .comment-avatar { padding: 1px; box-shadow: 0 0 0 1px #2e4453; }

.comment .comment-avatar { width: 2.25em; height: 2.25em; margin-right: 10px; border-radius: 50%; transition: all 0.25s ease-out; }

.comment header { margin-bottom: 1em; }

.comment b, .comment time { display: inline-block; line-height: 1.25; vertical-align: middle; }

.comment b { color: #2e4453; }

.comment time { margin-left: 0.5em; font-size: 0.875em; color: #b5c0c5; }

.comment p { margin-bottom: 1em; }

.comment p:last-of-type { margin-bottom: 0; }

.replies-list { margin-top: 1.5em; padding-left: 1.25em; border-left: 2px solid rgba(46, 68, 83, 0.1); }

.replies-list .comment { font-size: 0.875em; }

.replies-list .comment-avatar { display: none; }

.replies-list > li + li { margin-top: 1.5em; }

.replies-list header { margin-bottom: 0.5em; }

.replies-list p { margin-bottom: 0.5em; }

a.comment-reply-link { visibility: hidden; opacity: 0; position: absolute; top: 5px; right: 0; font-size: 0.75rem; font-weight: 700; color: rgba(136, 136, 136, 0.7); text-decoration: none; text-transform: uppercase; transition: all 0.25s ease-out; }

.comment:hover a.comment-reply-link { visibility: visible; opacity: 1; }

a.comment-reply-link:hover { color: #00aadc; }

.comment-respond { margin-bottom: 2em; }

.comments-list .comment-respond { width: 110%; margin: 0 -5%; }

.comment-reply-title { display: none; }

.comment-form { padding: 1em; background-color: #fff; box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.18), 0 1.5px 6px rgba(0, 0, 0, 0.08); }

.comments-list .comment-form { margin-top: 1.25em; box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

.comment-form label { margin-bottom: 0.5em; text-transform: uppercase; font-size: 0.875em; letter-spacing: 1px; }

.comment-form p { margin-bottom: 1em; }

.comment-form p:last-of-type { margin-bottom: 0; }

.comment-form .comment-notes, .comment-form .logged-in-as { display: block; margin-bottom: 1em; color: #b5c0c5; font-size: 0.875em; }

.comment-form .comment-notes a, .comment-form .logged-in-as a { color: inherit; }

.comment-form:not(.active) p { margin-bottom: 0; }

.comment-form:not(.active) .comment-notes, .comment-form:not(.active) .logged-in-as { display: none; }

.comment-form-comment label { display: none; }

.comment-form-comment textarea { height: 9em; }

.comment-form:not(.active) .comment-form-comment textarea { height: 2.6em; min-height: auto; padding: 0.5em 0; border: none; box-shadow: none; }

.comment-form:not(.active):hover .comment-form-comment textarea::-webkit-input-placeholder { color: #00aadc; }

.comment-form:not(.active):hover .comment-form-comment textarea::-moz-placeholder { color: #00aadc; }

.comment-form:not(.active):hover .comment-form-comment textarea:-ms-input-placeholder { color: #00aadc; }

.comment-form:not(.active):hover .comment-form-comment textarea:-moz-placeholder { color: #00aadc; }

.comment-form-author { padding-right: 0.5em; }

.comment-form-email { padding-left: 0.5em; }

.comment-form-author, .comment-form-email { display: none; float: left; width: 50%; }

.active .comment-form-author, .active .comment-form-email { display: block; }

@media only screen and (max-width: 767px) { .comment-form-author, .comment-form-email { display: block; width: 100%; padding: 0; } }

.comment-form-url { display: none; }

.form-submit { display: none; clear: both; }

.active .form-submit { display: block; }

.pagination { display: -ms-flexbox; display: -webkit-flex; display: flex; margin: 2em 0; font-size: 0.875em; color: #888; text-align: center; }

.pagination a, .pagination select { cursor: pointer; width: auto; -webkit-appearance: none; appearance: none; }

.pagination select:not(:hover) { border-color: transparent; }

.pagination a { align-self: center; }

.pagination a:first-child { margin-right: auto; }

.pagination a:last-child { margin-left: auto; }

.pagination a:not([href]) { visibility: hidden; opacity: 0; }

.post-password-form { padding: 2em 4em; background-color: rgba(0, 0, 0, 0.03); border-radius: 4px; }

.post-password-form p:last-child { display: -webkit-flex; display: flex; border-bottom: 1px solid #c8d7e1; padding-bottom: 0.5em; }

.post-password-form label { flex: 1; color: #888; }

.post-password-form input[type="password"] { background-color: transparent; border: none; margin-top: 1rem; padding: 0; font-size: 1.75em; color: #2e4453; letter-spacing: 2px; }

.post-password-form input[type="password"]:hover, .post-password-form input[type="password"]:focus { border: none; box-shadow: none; }

.post-password-form input[type="submit"] { align-self: flex-end; background-color: white; padding-right: 2em; padding-left: 2em; }

body[class^="paged-"] #infinite-footer { display: none; }

.infinite-loader { margin: 2em 0; }

.infinite-loader .spinner { left: 50% !important; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

div.sharedaddy { margin: 2em 0 2em; padding-top: 2em; border-top: 1px solid #c8d7e1; }

div.sharedaddy .sd-block { display: flex; flex-direction: column; }

div.sharedaddy .sd-content ul { margin: 0 -4px !important; }

div.sharedaddy .sd-content ul li { padding: 0 4px; margin: 0; }

div.sharedaddy .sd-block h3.sd-title { margin: 0 0 1em 0; letter-spacing: 0.5px; font-size: 0.875em; text-transform: uppercase; white-space: nowrap; }

div.sharedaddy .sd-block h3.sd-title::before { display: none; }

div.sharedaddy .share-end { display: none; }

div.sharedaddy .sd-block.sd-social .sd-content ul li a.sd-button { background-color: transparent; border-color: #2e4453; margin-top: 0; }

div.sharedaddy .sd-block.sd-social .sd-content ul li a.sd-button:hover { background-color: inherit; border-color: #131c22; opacity: 1; }

div.sharedaddy .sd-social-icon { flex-direction: row; }

div.sharedaddy .sd-social-icon .sd-content ul li[class*='share-'] a.sd-button:before { top: 0; }

div.sharedaddy .sd-social-icon h3.sd-title { align-self: center; margin: 0 0.5em 0 0; }

div.sharedaddy .sd-social-icon ul li { margin-bottom: 0; }

div.sharedaddy .sd-social-icon-text ul li a.sd-button, div.sharedaddy .sd-social-text ul li a.sd-button, div.sharedaddy .sd-social-official ul li a.sd-button { padding: 4px 10px 3px 8px; border-radius: 4px; font-size: 0.875em; }

div#sharing_email { border-radius: 4px; box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12), inset 0 3px #00aadc; -webkit-transform: translateY(-1em); -ms-transform: translateY(-1em); transform: translateY(-1em); }

div#sharing_email label { font-size: 0.875em; font-weight: 400; }

div.sharedaddy .sharing-hidden .inner { width: 260px; padding: 0.5em 0.5em 0; }

div.sharedaddy .sharing-hidden ul { display: -webkit-flex; display: flex; flex-wrap: wrap; }

div.sharedaddy .sharing-hidden ul li { width: 50%; padding: 0 0.25em; margin: 0 0 0.5em; text-align: center; }

.main-nav { position: relative; z-index: 1010; background-color: #00aadc; border-bottom: 1px solid #c8d7e1; }

@media (min-width: 768px) { .main-nav { padding: 0.75em 0; } }

.main-nav a { color: white; }

.nav-col { width: 100%; display: -webkit-flex; display: flex; justify-content: flex-start; align-items: center; }

@media only screen and (max-width: 767px) { .nav-logo { order: 1; margin: 0 auto; } }

.custom-logo-link img { width: auto; height: 2.5em; }

@media only screen and (max-width: 767px) { .custom-logo-link { display: none; } }

.mobile-logo img { width: auto; height: 32px; }

@media (min-width: 768px) { .mobile-logo { display: none; } }

.menu-item { position: relative; }

.menu-item > a { display: block; padding: 0.75em 1em; transition: none; }

.menu-item > a:hover { opacity: .7; }

.menu-item.current-menu-item > a, .menu-item.current-page-ancestor > a, .menu-item.current-menu-ancestor > a, .menu-item.current-menu-parent > a { font-weight: 700; }

.nav-wrapper { display: -webkit-flex; display: flex; justify-content: flex-start; flex-wrap: wrap; flex: 1; }

.nav-is-active .nav-wrapper { visibility: visible; opacity: 1; -webkit-transform: none; -ms-transform: none; transform: none; }

body.nav-is-active, body.nav-dialog-is-active { cursor: pointer; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

.nav-toggle i { line-height: 1; }

.nav-toggle i, .nav-toggle b { display: inline-block; vertical-align: middle; }

.nav-toggle .dashicons-before::before { width: 18px; height: 18px; font-size: 18px; }

@media (min-width: 768px) { .nav-toggle { display: none; } }

.nav-children { visibility: hidden; opacity: 0; position: absolute; z-index: 1020; top: 100%; left: 0; padding: 4px; min-width: 200px; background-color: #f3f6f8; white-space: nowrap; border-radius: 4px; transition: all 0.25s ease-out; box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); -webkit-transform: translateY(10px); -ms-transform: translateY(10px); transform: translateY(10px); }

.menu-item:hover .nav-children { visibility: visible; opacity: 1; -webkit-transform: none; -ms-transform: none; transform: none; }

.nav-children a { display: block; padding: 0.25em 0.5em; color: inherit; border-radius: 4px; }

.nav-children a:hover { background-color: #c8d7e1; }

@media only screen and (max-width: 767px) { .nav-children { top: 0; left: 100%; -webkit-transform: translateX(10px); -ms-transform: translateX(10px); transform: translateX(10px); }
  .nav-children a { padding: 0.5em 0.75em; } }

.nav-extra { display: -ms-flexbox; display: -webkit-flex; display: flex; order: 2; align-items: center; position: relative; z-index: 1010; margin-left: auto; }

.nav-extra > * { margin-right: 5px; }

.nav-extra .menu-item > a { padding: 5px; line-height: 1; border-radius: 4px; }

.nav-dialog { visibility: hidden; opacity: 0; position: absolute; z-index: 1010; top: 100%; right: 0; width: 300px; background-color: #fff; padding: 5px 0; font-size: 0.9375em; border-radius: 4px; box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); transition: all 0.25s ease-out; -webkit-transform: translateY(-1.5em); -ms-transform: translateY(-1.5em); transform: translateY(-1.5em); }

@media only screen and (max-width: 767px) { .nav-dialog { top: calc(100% + 10px); } }

.nav-dialog.nav-dialog--active { visibility: visible; opacity: 1; -webkit-transform: none; -ms-transform: none; transform: none; }

.search-form { display: -ms-flexbox; display: -webkit-flex; display: flex; position: relative; z-index: 1010; }

.search-form label { cursor: pointer; position: relative; z-index: 1010; padding: 5px; border-radius: 4px; transition: all 0.25s ease-out; }

.search-form label:hover { background-color: #78dcfa; color: white; }

.search-form input { position: absolute; top: 50%; left: calc(100% + 0.3em); padding: 0.5em 0; width: 0; opacity: 0; -webkit-transform: translateX(-100%) translateY(-50%); -ms-transform: translateX(-100%) translateY(-50%); transform: translateX(-100%) translateY(-50%); }

.search-form input:focus { opacity: 1; padding-right: 2.5em; padding-left: 0.5em; width: 250px; }

.search-form input:focus ~ label { background-color: #008ab3; color: white; }

.main-footer { position: relative; padding: 1.5em 0 3em; background-color: #f3f6f8; border-top: 1px solid #c8d7e1; border-bottom: 1px solid #c8d7e1; }

.footer-nav { padding-bottom: 1em; margin-bottom: 1em; border-bottom: 1px dashed #c8d7e1; text-align: center; }

.footer-nav a { display: inline-block; padding: 0 1em; color: #2e4453; }

.footer-nav a:hover { color: #00aadc; }

@media (min-width: 481px) { .footer-nav a:first-child { padding-left: 0; }
  .footer-nav a:last-child { padding-right: 0; } }

@media only screen and (max-width: 480px) { .footer-nav { display: -ms-flexbox; display: -webkit-flex; display: flex; flex-wrap: wrap; }
  .footer-nav a { width: 50%; } }

.footer-legal { font-size: 0.875em; }

.footer-legal a { margin-left: 1em; }

.footer-social { text-align: right; }

.footer-social a + a { margin-left: 0.25em; }

.social-logo { font-weight: normal; font-size: 1.5em; line-height: 1; vertical-align: top; color: rgba(46, 68, 83, 0.4); }

.social-logo__twitter:hover { color: #28a9e0; }

div.sharedaddy .sd-block .sd-content ul li a.sd-button.share-twitter { color: #28a9e0 !important; border-color: #28a9e0; }

div.sharedaddy .sd-block .sd-content ul li a.sd-button.share-twitter:hover { border-color: #187aa4; }

.social-logo__twitter-alt:hover { color: #28a9e0; }

div.sharedaddy .sd-block .sd-content ul li a.sd-button.share-twitter-alt { color: #28a9e0 !important; border-color: #28a9e0; }

div.sharedaddy .sd-block .sd-content ul li a.sd-button.share-twitter-alt:hover { border-color: #187aa4; }

.social-logo__facebook:hover { color: #3b5998; }

div.sharedaddy .sd-block .sd-content ul li a.sd-button.share-facebook { color: #3b5998 !important; border-color: #3b5998; }

div.sharedaddy .sd-block .sd-content ul li a.sd-button.share-facebook:hover { border-color: #263961; }

.social-logo__google-plus-1:hover { color: #dd4b39; }

div.sharedaddy .sd-block .sd-content ul li a.sd-button.share-google-plus-1 { color: #dd4b39 !important; border-color: #dd4b39; }

div.sharedaddy .sd-block .sd-content ul li a.sd-button.share-google-plus-1:hover { border-color: #ac2d1e; }

.social-logo__google-plus:hover { color: #dd4b39; }

div.sharedaddy .sd-block .sd-content ul li a.sd-button.share-google-plus { color: #dd4b39 !important; border-color: #dd4b39; }

div.sharedaddy .sd-block .sd-content ul li a.sd-button.share-google-plus:hover { border-color: #ac2d1e; }

.social-logo__google-plus-alt:hover { color: #dd4b39; }

div.sharedaddy .sd-block .sd-content ul li a.sd-button.share-google-plus-alt { color: #dd4b39 !important; border-color: #dd4b39; }

div.sharedaddy .sd-block .sd-content ul li a.sd-button.share-google-plus-alt:hover { border-color: #ac2d1e; }

.social-logo__pinterest:hover { color: #bd081c; }

div.sharedaddy .sd-block .sd-content ul li a.sd-button.share-pinterest { color: #bd081c !important; border-color: #bd081c; }

div.sharedaddy .sd-block .sd-content ul li a.sd-button.share-pinterest:hover { border-color: #740511; }

.social-logo__pinterest-alt:hover { color: #bd081c; }

div.sharedaddy .sd-block .sd-content ul li a.sd-button.share-pinterest-alt { color: #bd081c !important; border-color: #bd081c; }

div.sharedaddy .sd-block .sd-content ul li a.sd-button.share-pinterest-alt:hover { border-color: #740511; }

.social-logo__jetpack-whatsapp:hover { color: #25d366; }

div.sharedaddy .sd-block .sd-content ul li a.sd-button.share-jetpack-whatsapp { color: #25d366 !important; border-color: #25d366; }

div.sharedaddy .sd-block .sd-content ul li a.sd-button.share-jetpack-whatsapp:hover { border-color: #1a9247; }

.social-logo__whatsapp:hover { color: #25d366; }

div.sharedaddy .sd-block .sd-content ul li a.sd-button.share-whatsapp { color: #25d366 !important; border-color: #25d366; }

div.sharedaddy .sd-block .sd-content ul li a.sd-button.share-whatsapp:hover { border-color: #1a9247; }

.social-logo__skype:hover { color: #0bbff2; }

div.sharedaddy .sd-block .sd-content ul li a.sd-button.share-skype { color: #0bbff2 !important; border-color: #0bbff2; }

div.sharedaddy .sd-block .sd-content ul li a.sd-button.share-skype:hover { border-color: #0885a9; }

.social-logo__pocket:hover { color: #ed4054; }

div.sharedaddy .sd-block .sd-content ul li a.sd-button.share-pocket { color: #ed4054 !important; border-color: #ed4054; }

div.sharedaddy .sd-block .sd-content ul li a.sd-button.share-pocket:hover { border-color: #cd1329; }

.social-logo__linkedin:hover { color: #0077b5; }

div.sharedaddy .sd-block .sd-content ul li a.sd-button.share-linkedin { color: #0077b5 !important; border-color: #0077b5; }

div.sharedaddy .sd-block .sd-content ul li a.sd-button.share-linkedin:hover { border-color: #004569; }

.social-logo__reddit:hover { color: #f54b00; }

div.sharedaddy .sd-block .sd-content ul li a.sd-button.share-reddit { color: #f54b00 !important; border-color: #f54b00; }

div.sharedaddy .sd-block .sd-content ul li a.sd-button.share-reddit:hover { border-color: #a93400; }

.social-logo__tumblr:hover { color: #324f6d; }

div.sharedaddy .sd-block .sd-content ul li a.sd-button.share-tumblr { color: #324f6d !important; border-color: #324f6d; }

div.sharedaddy .sd-block .sd-content ul li a.sd-button.share-tumblr:hover { border-color: #1a2939; }

.social-logo__telegram:hover { color: #34abe3; }

div.sharedaddy .sd-block .sd-content ul li a.sd-button.share-telegram { color: #34abe3 !important; border-color: #34abe3; }

div.sharedaddy .sd-block .sd-content ul li a.sd-button.share-telegram:hover { border-color: #1981b2; }

.social-logo__custom-line:hover { color: #03c302; }

div.sharedaddy .sd-block .sd-content ul li a.sd-button.share-custom-line { color: #03c302 !important; border-color: #03c302; }

div.sharedaddy .sd-block .sd-content ul li a.sd-button.share-custom-line:hover { border-color: #027701; }

.text-left { text-align: left; }

.text-center { text-align: center; }

.text-right { text-align: right; }

/*
@include font-faces("Font Name", (
  ("font.woff", 400),
  ("font-italic.woff", 400, italic),
  ("font-bold.woff", 700), // always append comma
));
*/
div.sharedaddy .sd-block.sd-social .sd-content ul li a.sd-button, .button, a.button, [type="submit"], [type="button"], [type="reset"], .button-passive, a.button-passive { display: inline-block; outline: none; overflow: hidden; border-style: solid; border-width: 1px 1px 2px; padding: 0.5em 0.75em; font-weight: 600; text-decoration: none; line-height: normal; vertical-align: top; border-radius: 4px; transition: none; }

div.sharedaddy .sd-block.sd-social .sd-content ul li a.sd-button:active, .button:active, :active[type="submit"], :active[type="button"], :active[type="reset"], .button-passive:active { border-width: 2px 1px 1px; }

div.sharedaddy .sd-block.sd-social .sd-content ul li a.sd-button[disabled], .button[disabled], [disabled][type="submit"], [disabled][type="button"], [disabled][type="reset"], .button-passive[disabled] { cursor: not-allowed; opacity: .3; }

.button, a.button, [type="submit"], [type="button"], [type="reset"] { border-color: #008ab3; background-color: #00aadc; color: white; }

.button:hover, a.button:hover, [type="submit"]:hover, [type="button"]:hover, [type="reset"]:hover { border-color: #006380; }

.button-passive, a.button-passive, .button.loading { border-color: #c8d7e1; background-color: #f3f6f8; color: #2e4453; }

.button-passive:hover, a.button-passive:hover, .button.loading:hover { border-color: #a7bfcf; color: #2e4453; }

.button.loading { cursor: not-allowed; background-image: url("../../../../../wp-admin/images/spinner.gif"); background-position: center center; background-repeat: no-repeat; color: transparent !important; }

[type="text"], [type="number"], [type="tel"], [type="password"], [type="email"], [type="search"], [type="url"], textarea, select { display: block; width: 100%; padding: 0.5em 0.75em; border: 1px solid #c8d7e1; border-top-color: #b8cbd8; border-radius: 4px; line-height: normal; }

[type="text"]:hover, [type="number"]:hover, [type="tel"]:hover, [type="password"]:hover, [type="email"]:hover, [type="search"]:hover, [type="url"]:hover, textarea:hover, select:hover { border-color: #a7bfcf; box-shadow: inset 0 0 3px #c8d7e1; }

[type="text"]:focus, [type="number"]:focus, [type="tel"]:focus, [type="password"]:focus, [type="email"]:focus, [type="search"]:focus, [type="url"]:focus, textarea:focus, select:focus { border-color: #00aadc; box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2); }

input[type="radio"], input[type="checkbox"] { cursor: pointer; border: 1px solid rgba(0, 0, 0, 0.2); width: 16px; height: 16px; vertical-align: middle; transition: all 0.25s ease-out; appearance: none; -moz-appearance: none; -webkit-appearance: none; }

input[type="radio"]:hover, input[type="checkbox"]:hover { border-color: #00aadc; }

input[type="radio"]:checked, input[type="checkbox"]:checked { border-color: #00aadc; box-shadow: inset 0 0 0 4.5px #00aadc; }

input[type="radio"] + label, input[type="radio"] + span, input[type="checkbox"] + label, input[type="checkbox"] + span { margin-left: 0.5em; }

input[type="checkbox"] { border-radius: 4px; }

input[type="radio"] { border-radius: 50%; }

.toast { position: fixed; z-index: 1; left: 50%; bottom: 10px; -webkit-transform: translateX(-50%) translateY(-20px); -ms-transform: translateX(-50%) translateY(-20px); transform: translateX(-50%) translateY(-20px); display: -ms-flexbox; display: -webkit-flex; display: flex; visibility: hidden; opacity: 0; min-width: 320px; max-width: 480px; padding: 1em; background-color: #333; color: white; text-align: center; border-radius: 4px; transition: all 0.25s ease-out; box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

.toast.toast--shown { visibility: visible; opacity: 1; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

.toast a { margin-left: auto; }
